<%= stylesheet_link_tag "inside/top", :media => "all" %>
<div class="background row center">
  <div class="right">
  </div>
  <div class="">
    <div class="col-md-6"><%= image_tag 'logo_small.png', :size => '600x150' %></div>
    <div class="col-md-6">
      <% if current_user %>
        <%= link_to '動画管理を始める', new_video_path, :class => 'opacity_btn', data: {"turbolinks" => false} %>
        <div><%= link_to "ログアウト", destroy_user_session_path, :method => 'delete', :class => 'square_btn', data: {"turbolinks" => false} %></div>
      <% else %>
        <%= link_to '新規登録をして動画管理を始める', new_user_registration_path, :class => 'opacity_btn', data: {"turbolinks" => false} %>
        <div><%= link_to "ログイン", new_user_session_path, :class => 'square_btn', data: {"turbolinks" => false} %></div>
      <% end %>
    </div>
  </div>
</div>
<div class="main">
  <div class="clear">
    <div class="h1 margin_bottom50"><strong>動画管理</strong>を<strong>スマート</strong>にしよう</div>
    <div class="h4"><span class="pop h2">Youtube Creater's </span>とは</div>
    <div class="h4">Googleドライブと合わせて利用することで</div>
    <div class="h4 margin_bottom50">動画投稿準備の状況管理ができるアプリです</div>
    <div>
      <div class="row">
        <div class="use col-md-4 col-xs-12">
          <%= image_tag 'maiku.png', :size => '150x150', :class => '' %>
          <h5>録音した音源をステータス機能とコメント機能を使って</h5>
          <h5>スマートに管理することができます</h5>
        </div>
        <div class="use col-md-4 col-xs-12">
          <%= image_tag 'sumaho.png', :size => '150x150', :class => '' %>
          <h5>スマートフォン上に音源を保存しておかなくて良いので</h5>
          <h5>携帯の容量を削減できます</h5>
        </div>
        <div class ="use use_bottom col-md-4 col-xs-12">
          <%= image_tag 'youtube.png', :size => '150x150', :class => '' %>
          <h5>アプリ上で再生したり、思ったことをコメントに残しながら</h5>
          <h5>どの動画をUPするかを悩むことができます</h5>
        </div>
      </div>
    </div>
  </div>
</div>
