<div class="center">
  <div class="margin_top50 margin_bottom50">
    <h2>確認メールをもう一度送信</h2>
  </div>
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field form-group form_width">
      <%= f.label :email,{class: 'control-label'} %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control' %>
    </div>

    <div class="actions margin_bottom50">
      <%= f.submit "送信する", :class=>"btn btn-default" %>
    </div>
  <% end %>
  <div class="actions margin_bottom200">
    <%= render "devise/shared/links" %>
  </div>
</div>
