<%= form_with(model: [video, comment]) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form_width" id="form_color">
    <div><%= form.label :content, {class: 'control-label'} %></div>
    <div><%= form.text_area :content, {class: 'form-control form_width'} %></div>
  </div>

  <div class="actions">
    <%= form.submit :class=>"square_btn" %>
  </div>
<% end %>
