<%= stylesheet_link_tag "inside/videos", :media => "all" %>
<%= form_with(model: @video, local: true, url: choose_new_or_edit) do |form| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= @video.errors.count %>件のエラーがあります。</h2>
      <% @video.errors.full_messages.each do |msg| %>
      <span><%= msg %></br></span>
      <% end %>
    </div>
  <% end %>

  <div class="video_title form-group">
    <div class="h3">タイトル</div>
    <%= form.text_field :title, class: "form-control form_width" %>
  </div>
  <div class="video_url form-group">
    <div class="h3">URL</div>
    <%= form.text_field :url, class: "form-control form_width" %>
  </div>
  <div class="video_status form-group">
    <div class="h3">ステータス</div>
    <%= form.select :status, [["準備中", "準備中"], ["準備完了", "準備完了"], ["Youtube投稿済み", "Youtube投稿済み"]], {}, {:class => "form-control form_width"} %>
  </div>
  <div class="video_status form-group margin_top50">
    <div class="h3">動画編集に使用する画像</div>
    <%= image_tag @video.image, :width => "640" if @video.image %>
    <%= form.file_field :image, class: "form-controll form_width center" %>
  </div>
  <div class="margin_top50">
    <%= form.submit :class=>"square_btn" %>
  </div>
<% end %>
<%= link_to 'ビデオメモ一覧画面にもどる', videos_path, class: "btn btn-default margin_bottom100 margin_top50" %>
