<%= stylesheet_link_tag "inside/videos", :media => "all" %>
<div class="center">
  <h3>以下の内容で、送信する。</h3>

  <%= form_with(model: @video, url: videos_path, local: true) do |form| %>
    <%= form.hidden_field :title %>
    <%= form.hidden_field :url %>
    <%= form.hidden_field :status %>
    <%= form.hidden_field :image_cache %>

    <div class="margin_bottom200">
      <div class="margin_top50 margin_bottpm50"><h4>タイトル:</h4><%= @video.title %></div>
      <% url = @video.url %>
      <% url.sub!(/open\?id=/, "file/d/") %>
      <% url << "/preview" %>
      <div class="margin_bottom50"><iframe src="<%= url %>" width="320" height="240" ></iframe><div>
      <div class="margin_bottom50"><h4>ステータス:</h4><%= @video.status %></div>
      <% if @video.image.url %>
        <div>
          <div class="margin_bottom50"><h4>動画編集に使用する画像:</h4>
            <%= image_tag @video.image, :width => "640" %>
          </div>
        </div>
      <% end %>
    </div>
  <div class="margin_top50">
    <%= form.submit :class=>"square_btn" %>
  </div>
  <% end %>

  <%= form_with(model: @video, url: new_video_path, local: true, method: 'get') do |form| %>
    <%= form.hidden_field :title %>
    <%= form.hidden_field :url %>
    <%= form.hidden_field :status %>
    <%= form.submit "もどる", name: 'back', :class=>"btn btn-default margin_top50", data: {"turbolinks" => false} %>
  <% end %>
</div>
