<h1>動画一覧</h1>
<table>
  <tr>
    <th>タイトル</th>
    <th>URL</th>
    <th>ステータス</th>
  </tr>

<% @videos.each do |video| %>
  <tr>
    <td><%= video.title %></td>
    <td><%= video.url %></td>
    <td><%= video.status %></td>
    <td><%= link_to '詳細確認', video_path(video.id) %></td>
    <td><%= link_to "編集する", edit_video_path(video.id) %></td>
    <td><%= link_to '削除する', video_path(video.id), method: :delete, data: { confirm: '本当に編集していいですか？' } %></td>
  </tr>
<% end %>
</table>
<%= link_to '新しく動画メモを投稿する', new_video_path %>
