<div class="index">
  <h1>動画一覧</h1>
    <% @videos.each do |video| %>
      <div><h3><%= video.title %></h3></div>
      <div><%= video.url %></div>
      <div><%= video.status %></div>
      <div>
        <%= link_to '詳細確認', video_path(video.id), class: "btn btn-primary" %>
        <%= link_to "編集する", edit_video_path(video.id), class: "btn btn-warning" %>
        <%= link_to '削除する', video_path(video.id), class: "btn btn-danger", method: :delete, data: { confirm: '本当に編集していいですか？' } %>
      </div>
    <% end %>
    <%= paginate @videos %>
  <div class="new_botan">
    <%= link_to '新しく動画メモを投稿する', new_video_path, class: "btn btn-default" %>
  </div>
</div>
