<div class="center">
  <h1>ビデオメモ詳細画面</h1>
  <div class="show">
    <h4>タイトル</h4><%= @video.title %>
    <h4>ステータス</h4><%= @video.status %>
    <div><iframe src="<%= @video.url %>" width="640" height="480"></iframe><div>
    <% if @video.image.url %>
      <div>
        <div><h4>動画編集に使用する画像:</h4>
          <%= image_tag @video.image, :width => "640" %>
        </div>
      </div>
    <% end %>
  </div>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(video_id: @video.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
  <div class="margin_top50">
    <h2>コメント一覧</h2>
    <div id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments, video: @video } %>
    </div>
  </div>
  <%= render partial: 'comments/form', locals: { comment: @comment, video: @video } %>
  <div class="padding-20px margin_bottom50 margin_top50">
    <%= link_to '編集', edit_video_path(@video), class: "btn btn-default" %> |
    <%= link_to '戻る', videos_path, class: "btn btn-default" %>
  </div>
  <div class="margin_bottom200">
    <p><%= link_to '新しく動画メモを投稿する', new_video_path, class: "btn btn-default" %></p>
  </div>
</div>
