<div class="center">
  <h1>ビデオメモ詳細画面</h1>
  <div class="show">
    <div class="h3"><%= @video.title %></div>
    <div><iframe src="<%= @video.url %>" width="640" height="480"></iframe><div>
  </div>
  <div>
    <h2>コメント一覧</h2>
    <div id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments, video: @video } %>
    </div>
  </div>
  <%= render partial: 'comments/form', locals: { comment: @comment, video: @video } %>
  <div class="padding-20px margin_bottom50">
    <%= link_to '編集', edit_video_path(@video), class: "btn btn-default" %> |
    <%= link_to '戻る', videos_path, class: "btn btn-default" %>
  </div>
  <div class="margin_bottom200">
    <p><%= link_to '新しく動画メモを投稿する', new_video_path, class: "btn btn-default" %></p>
    <p><%= link_to 'ビデオメモ一覧画面にもどる', videos_path, class: "btn btn-default" %></p>
  </div>
</div>
