<!DOCTYPE html>
<%= stylesheet_link_tag "inside/app", :media => "all" %>
<%= favicon_link_tag 'favicon.png'%>
<html>
  <head>
    <title>VideoManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <%= link_to image_tag("logo_small.png", height: 54), root_path %>
        <% if user_signed_in? %>
          <li class: "right_header"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <li class: "right_header"><%= link_to "お気に入り一覧", favorites_path %></li>
          <li class: "right_header"><%= link_to "メモ一覧", videos_path %></li>
          <li class: "right_header"><%= link_to "メモ投稿", new_video_path, data: {"turbolinks" => false} %></li>
        <% else %>
          <li class: "right_header"><%= link_to "ログイン", new_user_session_path, data: {"turbolinks" => false} %></li>
          <li class: "right_header"><%= link_to "新規登録", new_user_registration_path, data: {"turbolinks" => false} %></li>
        <% end %>
      </ul>
    </header>
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <%= yield %>
    <footer>
      <p>運営会社SATOMAYA</p>
      <p>©︎2018-2019 video memo</p>
    </footer>
  </body>
</html>
